<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
  
  <node pkg="rosserial_python" type="serial_node.py" name="ardunio_sensor" respawn="true" ns="robot" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="115200"/>
  </node>
  
  <!--node pkg="image_proc" type="image_proc" name="image_proc" respawn="true" ns="/camera"/-->
</launch>
