<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
  
  <node pkg="rosserial_python" type="serial_node.py" name="ardunio_control" respawn="true" output="screen">
    <param name="port" value="/dev/ttyACM1"/>
  </node>
  
  <!--node pkg="image_proc" type="image_proc" name="image_proc" respawn="true" ns="/camera"/-->
</launch>
